<!doctype html>
<html>

<head>
	<title>Admin area | Contacts</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
	<!-- Header -->
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1>
						<span class="glyphicon glyphicon-phone"></span> Contacts
						<small> Support center</small>
					</h1>
				</div>
			</div>
		</div>

		<!-- header 2 -->
	</header>
	<section id="breadcrumb">
		<div class="container">
			<ol class="breadcrumb">
				<li class="active">Contacts</li>
			</ol>
		</div>
	</section>

	<!-- silder  -->
	<section id="main">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="list-group ">
						<a href="/" class="list-group-item">
							<span class="glyphicon glyphicon-question-sign"></span> Home</a>
						<a id="contact_href" href="contacts" class="list-group-item active main-color">
							<span class="glyphicon glyphicon-phone"></span> Contact with Adminstration</a>
						<a href="guide" class="list-group-item">
							<span class="glyphicon glyphicon-hand-up"></span> About</a>
					</div>
				</div>

				<!-- Contect -->
				<div class="col-md-9 container">
					<div class="panel panel-default boreder-panel">
						<div class="panel-heading main-color">
							<h3 class="panel-title">Contacts</h3>
						</div>
						<div class="panel-body ">
							<div class="col-md-23  ">
								<div class="well ">
									<ul class="list-group">
										<li class="list-group-item">For support </li>
										<li class="list-group-item">Sergey Balandin cellphone 0549937902</li>
										<li class="list-group-item">Shir Nahum cellphone 0549937902</li>
									</ul>

									<ul class="list-group">
										<li class="list-group-item"> Database manager</li>
										<li class="list-group-item">Sergey Balandin cellphone 0549937902</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<p> Admin copyright, &copy; 2018 </p>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>

</html>