<!doctype html>
<html >
  <head>
    <title>Admin area | Contacts</title>

    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="CSS/style.css">
	  
  </head>

  <body >
        <!-- nav bar --> 
  <nav class="navbar navbar-new ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Contacts</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
			 <li class="active"><a href="addnewdriver.html">Add New Driver</a></li>
          </ul>
			
			 <ul class="nav navbar-nav navbar-right">
            <li><a href="AddDriver">Hello Sergey</a></li>
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	 
	  <!-- Header -->
	  <header id="header">
		  <div class="container">
			  <div class="row">
			    <div class="col-md-10">
					<h1><span class="glyphicon glyphicon-phone"></span> Contacts <small> cell phones suprot center</small></h1>
				</div>
			  </div>
		  </div>
		  <!-- drop down -->
		 <div class="dropdown">
           <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-  expanded="false">
           Dropdown trigger
           <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                   <li ><a href="index.html">Home</a></li>
			        <li ><a href="addnewdriver.html">Add New Driver</a></li>
               </ul>
             </div>
		  <!-- header 2 -->
	  </header>
	  <section id="breadcrumb">
	      <div class="container">
		      <ol class="breadcrumb">
			   <li class="active">Contacts</li>
			  </ol>
		  </div>
	  </section>
	  
	  <!-- silder  -->
	  <section id="main">
	     <div class="container">
			<div class="row">
			    <div class="col-md-3"> 
					 <div class="list-group ">
                       <a href="#" class="list-group-item active main-color"><span class="glyphicon glyphicon-question-sign"></span> Helper</a>
                       <a href="guide.html" class="list-group-item"><span class="glyphicon glyphicon-hand-up"></span>  Guide</a>
                     </div>
				</div>
				
				<!-- Contect -->
				 <div class="col-md-9 container">
					 <div class="panel panel-default boreder-panel">
                        <div class="panel-heading main-color">
                           <h3 class="panel-title">Contacts</h3>
                        </div>
                            <div class="panel-body ">
						       <div class="col-md-23  ">
								   <div class="well " >
									    <ul class="list-group">
                                           <li class="list-group-item">For support </li>
                                           <li class="list-group-item">Sergey Balandin cellphone 0549937902</li>
										   <li class="list-group-item">Shir Nahum cellphone 0549937902</li>
                                        </ul>
									   
									   <ul class="list-group">
                                           <li class="list-group-item"> Data base manager</li>
                                           <li class="list-group-item">Sergey Balandin cellphone 0549937902</li>
                                        </ul>
								   </div>  
							    </div> 
						    </div> 
                      </div>
					 
					  

					 
					 
					 
				</div>
			 </div>
		 </div>
	  </section> 
	 <footer id="footer">
		 <div class="container">
	    <p>  Admin copyright,  &copy; 2018 </p>
		</div>
	 </footer>
   
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	   <script src="js/bootstrap.min.js"></script>
  </body>
</html>