<!doctype html>
<html >
  <head>
    <title>Admin area | Guide</title>

    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="css/style.css">
	  
  </head>

  <body >
        <!-- nav bar --> 
  <nav class="navbar navbar-new ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Guide</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="Home.html">Home</a></li>
			 <li class="active"><a href="AddNewDriver.html">Add New Driver</a></li>
          </ul>
			
			 <ul class="nav navbar-nav navbar-right">
            <li><a href="AddDriver">Hello Sergey</a></li>
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	 
	  <!-- Header -->
	  <header id="header">
		  <div class="container">
			  <div class="row">
			    <div class="col-md-10">
					<h1><span class="glyphicon glyphicon-hand-up"></span> Guide <small> guide zone for you</small></h1>
				</div>
			  </div>
		  </div>
		  <!-- drop down -->
		 <div class="dropdown">
           <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-  expanded="false">
           Dropdown trigger
           <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                   <li ><a href="Home.html">Home</a></li>
			        <li ><a href="AddNewDriver.html">Add New Driver</a></li>
               </ul>
             </div>
		  <!-- header 2 -->
	  </header>
	  <section id="breadcrumb">
	      <div class="container">
		      <ol class="breadcrumb">
			   <li class="active">Guide</li>
			  </ol>
		  </div>
	  </section>
	  
	  <!-- silder  -->
	  <section id="main">
	     <div class="container">
			<div class="row">
			    <div class="col-md-3"> 
					 <div class="list-group ">
                       <a href="#" class="list-group-item active main-color"><span class="glyphicon glyphicon-question-sign"></span> Helper</a>
                       <a href="Contacts.html" class="list-group-item"><span class="glyphicon glyphicon-phone"></span>  Contact with Adminstration</a>
                     </div>
				</div>
				
				<!-- Contect -->
				 <div class="col-md-9 container"  data-spy="scroll" data-target="#myScrollspy" data-offset="20" >
					 <div class="panel panel-default boreder-panel" >
                        <div class="panel-heading main-color" >
                           <h3 class="panel-title">Guide</h3>
                        </div>
                            <div class="panel-body ">
						       <div class="col-md-23  ">
								   <div >
									    <div class="container">
                                          <div class="row">
                                             <nav class="col-sm-3" id="myScrollspy">
                                                <ul class="nav nav-pills nav-stacked">
                                                      <li ><a href="#section1">Section 1</a></li>
                                                      <li><a href="#section2">Section 2</a></li>
                                                      <li><a href="#section3">Section 3</a></li>
                                                  </ul>
                                             </nav>
											  
                                              <div class="col-sm-9">
                                                <div id="section1">    
                                                   <h1>Section 1</h1>
                                                     <p>Lorem ipsum dolor sit amet, omnis consequuntur ex has, te quo expetenda maluisset splendide. Vim te tantas nemore, elit voluptatibus qui at, pro autem inimicus ad. His copiosae lucilius ne, odio complectitur mei eu. Noster fabulas verterem ne eam, sed ex modus tation dignissim, quo no congue aperiam.

                                            Cibo illud intellegat an sea. Ullum facer ignota te cum, eum eu semper lobortis. Mei ignota latine ut, sit ei aeque tantas singulis, no quo augue partem recusabo. Cu nulla epicuri sed, duo et habeo dicam. Cu soleat utamur ancillae usu, no modus vivendo nec. No usu labitur imperdiet concludaturque.

                                            Ex enim malorum eam, tale dico dicat sed eu. Nihil petentium ad cum, et his labores meliore epicurei. Elit voluptatibus in vim, id sententiae interesset usu. Augue mollis vel et, eu eius possit rationibus pri, an eos posse prodesset. Te case tacimates quo, sea eripuit maiorum ancillae eu. Pri veri tincidunt ne, sit malorum assueverit temporibus ei.

                                            An officiis quaestio accusamus per, ornatus salutandi ei nec. Mea iusto noluisse ad, brute appetere cu ius, an pri modo iusto consetetur. No purto viris efficiendi sed, quo in natum similique consectetuer. Quo ei tempor postulant hendrerit, te vim soleat copiosae epicurei, laudem accusamus comprehensam duo ad.</p>
                                                 </div>
												  
                                          <div id="section2"> 
                                            <h1>Section 2</h1>
                                            <p>Lorem ipsum dolor sit amet, omnis consequuntur ex has, te quo expetenda maluisset splendide. Vim te tantas nemore, elit voluptatibus qui at, pro autem inimicus ad. His copiosae lucilius ne, odio complectitur mei eu. Noster fabulas verterem ne eam, sed ex modus tation dignissim, quo no congue aperiam.

                                            Cibo illud intellegat an sea. Ullum facer ignota te cum, eum eu semper lobortis. Mei ignota latine ut, sit ei aeque tantas singulis, no quo augue partem recusabo. Cu nulla epicuri sed, duo et habeo dicam. Cu soleat utamur ancillae usu, no modus vivendo nec. No usu labitur imperdiet concludaturque.

                                            Ex enim malorum eam, tale dico dicat sed eu. Nihil petentium ad cum, et his labores meliore epicurei. Elit voluptatibus in vim, id sententiae interesset usu. Augue mollis vel et, eu eius possit rationibus pri, an eos posse prodesset. Te case tacimates quo, sea eripuit maiorum ancillae eu. Pri veri tincidunt ne, sit malorum assueverit temporibus ei.

                                            An officiis quaestio accusamus per, ornatus salutandi ei nec. Mea iusto noluisse ad, brute appetere cu ius, an pri modo iusto consetetur. No purto viris efficiendi sed, quo in natum similique consectetuer. Quo ei tempor postulant hendrerit, te vim soleat copiosae epicurei, laudem accusamus comprehensam duo ad.</p>
                                         </div>  
												  
                                         <div id="section3">         
                                           <h1>Section 3</h1>
                                            <p>Lorem ipsum dolor sit amet, omnis consequuntur ex has, te quo expetenda maluisset splendide. Vim te tantas nemore, elit voluptatibus qui at, pro autem inimicus ad. His copiosae lucilius ne, odio complectitur mei eu. Noster fabulas verterem ne eam, sed ex modus tation dignissim, quo no congue aperiam.

                                            Cibo illud intellegat an sea. Ullum facer ignota te cum, eum eu semper lobortis. Mei ignota latine ut, sit ei aeque tantas singulis, no quo augue partem recusabo. Cu nulla epicuri sed, duo et habeo dicam. Cu soleat utamur ancillae usu, no modus vivendo nec. No usu labitur imperdiet concludaturque.

                                            Ex enim malorum eam, tale dico dicat sed eu. Nihil petentium ad cum, et his labores meliore epicurei. Elit voluptatibus in vim, id sententiae interesset usu. Augue mollis vel et, eu eius possit rationibus pri, an eos posse prodesset. Te case tacimates quo, sea eripuit maiorum ancillae eu. Pri veri tincidunt ne, sit malorum assueverit temporibus ei.

                                            An officiis quaestio accusamus per, ornatus salutandi ei nec. Mea iusto noluisse ad, brute appetere cu ius, an pri modo iusto consetetur. No purto viris efficiendi sed, quo in natum similique consectetuer. Quo ei tempor postulant hendrerit, te vim soleat copiosae epicurei, laudem accusamus comprehensam duo ad.</p>
                                         </div>
                                    </div>
                              </div>
                        </div>
					</div>  
				  </div> 
				</div> 
              </div>	 
				</div>
			 </div>
		 </div>
	  </section> 
	 <footer id="footer">
		 <div class="container">
	    <p>  Admin copyright,  &copy; 2018 </p>
		</div>
	 </footer>
   
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	   <script src="js/bootstrap.min.js"></script
  </body>
</html>