<!doctype html>
<html >
  <head>
    <title>Admin area | About</title>

    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="css/style.css">
	  
  </head>

  <body >
	  <!-- Header -->
	  <header id="header">
		  <div class="container">
			  <div class="row">
			    <div class="col-md-10">
					<h1><span class="glyphicon glyphicon-hand-up"></span> About <small> About this site</small></h1>
				</div>
			  </div>
		  </div>
		  <!-- header 2 -->
	  </header>
	  <section id="breadcrumb">
	      <div class="container">
		      <ol class="breadcrumb">
			   <li class="active">About</li>
			  </ol>
		  </div>
	  </section>
	  
	  <!-- silder  -->
	  <section id="main">
	     <div class="container">
			<div class="row">
			    <div class="col-md-3"> 
					 <div class="list-group ">
            <a href="/" class="list-group-item active main-color"><span class="glyphicon glyphicon-question-sign"></span> Home</a>
            <a href="addnewdriver" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Add new driver</a>
            <a href="contacts" class="list-group-item"><span class="glyphicon glyphicon-phone"></span>  Contact with Adminstration</a>
            <a href="guide" class="list-group-item"><span class="glyphicon glyphicon-hand-up"></span>  About</a>
                     </div>
				</div>
				
				<!-- Contect -->
				 <div class="col-md-9 container"  data-spy="scroll" data-target="#myScrollspy" data-offset="20" >
					 <div class="panel panel-default boreder-panel" >
                        <div class="panel-heading main-color" >
                           <h3 class="panel-title">About</h3>
                        </div>
                            <div class="panel-body ">
						       <div class="col-md-23  ">
								   <div >
									    <div class="container">
                                          <div class="row">
                                             <nav class="col-sm-3" id="myScrollspy">
                                                <ul class="nav nav-pills nav-stacked">
                                                      <li ><a href="#section1">Section 1</a></li>
                                                      <li><a href="#section2">Section 2</a></li>
                                                      <li><a href="#section3">Section 3</a></li>
                                                  </ul>
                                             </nav>
											  
                                              <div class="col-sm-9">
                                                <div id="section1">    
                                                   <h1>Section 1</h1>
                                                     <p></p>
                                                 </div>
												  
                                          <div id="section2"> 
                                            <h1>Section 2</h1>
                                            <p></p>
                                         </div>  
												  
                                         <div id="section3">         
                                           <h1>Section 3</h1>
                                            <p></p>
                                         </div>
                                    </div>
                              </div>
                        </div>
					</div>  
				  </div> 
				</div> 
              </div>	 
				</div>
			 </div>
		 </div>
	  </section> 
	 <footer id="footer">
		 <div class="container">
	    <p>  Admin copyright,  &copy; 2018 </p>
		</div>
	 </footer>
   
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	   <script src="js/bootstrap.min.js"></script
  </body>
</html>